nav[class*="menu"] li {
	
	// &:hover > a,
	a:hover,
	a.ct-highlight,
	&[class*="current-menu-"] > a {
		color: var(--linkHoverColor);
		--icon-color: var(--icon-hover-color, var(--linkHoverColor));
	}
}